<%- include('layout/header') %>


   <div class="login-container">
       <div class="center-box">
        <form method="POST" action="/users/register">  
              <p>Register New Account</p>
               <input type="text" name="name"  placeholder="name">
       
           
                <input type="text" name="email"  placeholder="Email">
            
         
                <input type="text" name="username"  placeholder="username">
            
                <input type="password" name="password"  placeholder="password">
           
            
                <input type="password" name="password2"  placeholder=" confirm password">
           
            <button class="btn" type="submit"> register </button>
            <br>
            <br>
            <span>already have account? </span><a href="/users/login">  Login here</a>
        </form>
           
       </div>
   </div>
   <%- include('layout/footer') %>